.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.button{
    height: 56px !important;
    margin-bottom: 16px;
    margin-left: 25px;
    span{
        color: #fff !important ;

    }
}
