.stage{
    background-color: #e4e9f1;
    border-radius: 10px;
    padding: 12px 5px;
    cursor: pointer;
}


.w-flex{
    width: 19%;
}


.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


@media screen and (max-width: 999px) {
    .w-flex{
        width: 32%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 770px) {
    .w-flex{
        width: 49%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 430px) {
    .w-flex{
        width: 80%;
        margin: 10px 10%;
        margin-bottom: 20px;
    }
}